<!DOCTYPE html>
<html>
   <head>
     <title>N'kisi</title>
     <link rel='stylesheet' href='./lib/skeleton/css/normalize.css' />
     <link rel='stylesheet' href='./lib/skeleton/css/skeleton.css' />
     <link rel='stylesheet' href='./style.css' />
  </head>

  <body>
    Yo, check your console.
    <script src='main.js'></script>
  </body>
 </html>
